<div class="top-bar row">
  <div class="top-bar-left small-12 medium-3 columns">
    <ul class="company_info">
      <li id="test"><b>Launch Academy</b></li>
    </ul>
  </div>
  <div class="top-bar-right small-12 medium-5 columns">
    <ul class="menu">
      <li>Learn on Campus</li>
      <li>Learn Online</li>
      <li><button type="button" class="button">Apply</button></li>
    </ul>
  </div>
</div>

<div class="overlay_content parent row">
  <div class="overlay_image small-12 columns">
    <img src="images/background-1.jpg" alt="" />
  </div>
  <div class="overlay_text child small-12 columns">
    <h1>Campus</h1>
    <br />
    <hr class="child">
    <p>
    We streamline the time, cost, and job hunting process for you.
    Getting you a programming career in
    <br />
    the most efficient and reliable way possible.
    </p>
    <br />
    <button type="button" class="image_button child button">Learn More</button>
  </div>
</div>

<div class="online_content parent row">
  <div class="online_text small-12 columns">
    <h1>Online</h1>
  <hr>
  <p>
    Become a developer at your own pace. Get unblocked with help from our staff to get back to learning.
  </p>
  </div>
  <div class="online_image small-12 columns">
    <img src="images/laptop.png" alt="" />
  </div>
</div>
